.page-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}
.page-info__icon {
  font-size: 6rem;
  color: var(--secondary);
}
.page-info__title {
  font-size: 3.2rem;
  color: var(--base);
}
.page-info__text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--default-text);
  font-weight: normal;
}