:root {
  --primary: #00D8C3;
  --base: #01437D;
  --secondary: #00827E;
  --default-text: #01437D80;
  --secondary-text: #01437D60;
  --background: #F5F7FA;
  --white: #FFFFFF;
  --box-shadow: #01437D10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--default-text);
  font-family: 'Bellota Text', cursive;
  max-width: 42rem;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
p {
  font-family: 'Bellota Text', cursive;
  font-weight: regular;
}